# ----- Mac
.DS_Store

# ----- env, config vars
*.env
**conf**
**var/**

# ----- Files general
*.log
**cache**
**local**
**foo**
**dist**
**temp**
**build
*.sqlite

# ----- Nikola
.doit.db
__pycache__
output

# ----- JetBrains
.idea/

# ----- Allow
!**template**
!**requirements.txt**
!**runtime.txt**